body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size:1em;
	display:flex;
	flex-direction: column;
	align-content: center;
	align-items: center;  

}

.container{
	display:flex;
	flex-direction: column;
	align-content: center;
	align-items: center;  
	width: 90%;

}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}

h1 {
	font-size: 1.875em;
	border-bottom: 3px solid #77a466;
}

h2 {
	font-size: 1.125em;
}

h3 {
	font-size: .750em;
}

p {
	font-size: 0.875em;
	line-height: 1.313em;

}

header h1 span {
	color: #77a466;
}



ul {
	color:#77a466;
	list-style: none;
	text-decoration: none;
}

a {
	color:#77a466;
	text-decoration: none;
}

header nav {
	font-weight: 700;
	font-size: 0.875em;
	list-style: none;
}

.we-are{
	text-align: center;
}

.nav-deets{
	line-height: 3em;
	text-align: center;
}

.main-image {
	width: 100%;
	height: auto;
}

.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title {
	height: auto;
}

.main-title h2 {
	color: #77a466;
}

.main-title p {
	font-size: 1em;
	line-height: 2em;
}

.top-section{
	display:flex;
	flex-flow: column wrap;
}
.bottom-section {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: left;
	flex-wrap: wrap;
}

.menu {
	list-style: none;
	padding: 0;
}

.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
}

.address {
	font-size: 1em;
	line-height: 24px;
}

footer {
	height: 50px;
	border-top: 3px solid #eee;
	margin: 0 auto;
	text-align: center;
}

footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}


/*******
Tablet
*******/

@media screen and (min-width: 768px){
 
	body{
		display:flex;
		flex-direction: column;
		align-content: center;
		align-items: center;  

	}
	.container{
		width: 90%;
		display:flex;
		align-items: center;
		flex-direction: column;
	}

	header {
		width: 90%;
		border-bottom: 3px solid #77a466;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
		
	.we-are{
		text-align: center;
	}

	ul {
		color:#77a466;
		list-style: none;
		line-height: 3em;
		text-decoration: none;

	}

	.top-section,
	.bottom-section {
		width: 90%;
		display:flex;
		align-content: center;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	.main-image {
		height: auto;
	}

	.section-one{
		width: 30%; 
		text-align: left;
	}

	.menu{
		display: flex;
		justify-content:flex-start;
		flex-flow: column wrap;
		color:#77a466;
		list-style: none;
		padding: 0;
	}

	#today-menu{
		text-align: left;
	}

	.section-two{
		width: 30%; 
	}

	.section-three {
		width: 30%; 
	}
}

/*******
Computer
****/


@media (min-width: 1200px) {

	body{
		display:flex;
		flex-direction: column;
		align-content: center;
		align-items: center;  

	}

	.container{
		width: 90%;
		display:flex;
		align-items: center;
		flex-direction: column;
	}


	header {
		width: 90%;
		display:flex;
		justify-content: space-between;
		flex-direction: row;
	}

	.deets{
		width: 50%;
	}

	ul {
		display: flex;
		color:#77a466;
		list-style: none;
		line-height: 3em;
		text-decoration: none;
		justify-content: space-evenly;

	}

	.nav-deets{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}

	.top-section,
	.bottom-section {
		width: 90%;
		display:flex;
		align-content: center;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	.main-image {
		height: auto;
	}

	.section-one{
		width: 30%; 
		text-align: left;
	}

	.menu{
		display: flex;
		justify-content:flex-start;
		flex-flow: column wrap;
		color:#77a466;
		list-style: none;
		padding: 0;
	}

	#today-menu{
		text-align: left;
	}

	.section-two{
		width: 30%; 
	}

	.section-three {
		width: 30%; 
	}
}