body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size:1em;

}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}

h1 {
	font-size: 1.875em;
}

h2 {
	font-size: 1.125em;
}

h3 {
	font-size: .750em;
}

p {
	font-size: 0.875em;
	line-height: 1.313em;

}

/*The widths are in a percentage!*/


/****************
PUT IMAGE INTO HERE!!!!!!!!!!!!!!!!
CONTROL IMAGES IN THE CC!

******************/


header h1 {
	margin: 0;
	padding: 38px 0;
}

header h1 span {
	color: #77a466;
}

ul {
	color:#77a466;
	list-style: none;
	text-decoration: none;
}

a {
	color:#77a466;
	text-decoration: none;
}

header nav {
	font-weight: 700;
	font-size: 0.875em;
	list-style: none;
}

.main-image {
	height: auto;
}

.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title {
	height: auto;
}

.main-title h2 {
	color: #77a466;
}

.main-title p {
	font-size: 1em;
	line-height: 2em;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
}

.address {
	font-size: 1em;
	line-height: 24px;
}

footer {
	height: 50px;
	border-top: 3px solid #eee;
	margin: 0 auto;
	text-align: center;
}

footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}


/************
Breakpoints.
************/
/*******
Celphone
*******/
@media screen and (max-width: 480px) {


	.container{
		width: 90%;
		display:flex;
	flex-flow: column wrap; 
	align-content: center;
	align-items: center;  
	justify-content: space-around;
	flex-wrap: wrap;
	}

	header {
		border-bottom: 3px solid #77a466;
		margin: 0 auto;
	}

	.nav-deets{
		line-height: 3em;
		text-align: center;
	}

	/*The widths are in a percentage!*/
	.top-section{
	width: 90%;
	display:flex;
	flex-flow: column wrap;
	}
	.bottom-section {
		width: 90%;
		display: flex;
		align-content: center;
		align-items: center;
		justify-content: left;
		flex-wrap: wrap;
	}

	.menu {
		list-style: none;
		padding: 0;
	}
	
	.menu li {
		padding: 10px 0;
		color:#77a466;
	}

}

/*
Tablet portrait
*/
/*
@media (min-width: 481px){

.container{
	width: 90%;
	display:flex;
	align-items: center;
	flex-flow: column wrap;
}

header {
	border-bottom: 3px solid #77a466;
}
	
header h1 {
	margin: 0;
	padding: 38px 0;
}

ul {
	color:#77a466;
	list-style: none;
	line-height: 3em;
	text-decoration: none;

}

.top-section,
.bottom-section {
	display:flex;
	align-content: center;

	justify-content: space-around;
	flex-wrap: wrap;
}

.main-image {
	height: auto;
}

.menu {
	list-style: none;
	padding: 0;
}

}

@media (min-width: 768px) {

.container{
	width: 90%;
	display:flex;
	justify-content: space-around;
	align-content: center;
	margin: 0 auto;
}

header {
	border-bottom: 3px solid #77a466;
	margin: 0 auto;
}

header h1 {
	margin: 0;
	padding: 38px 0;
}

header h1 span {
	color: #77a466;
}

ul {
	color:#77a466;
	list-style: none;
	line-height: 3em;
	text-decoration: none;
}

/*
#ul-align{
	display: flex;
	align-items: center;

}


/*The widths are in a percentage!*/

/*
.top-section{
	display:flex;
	align-content: center;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.bottom-section {
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;

}

.section-one{
	width: 33%; 
	text-align: left;
}

.menu{
	display: flex;
	justify-content:flex-start;
	flex-flow: column wrap;
	color:#77a466;
}

#today-menu{
	text-align: left;
}

.section-two{
	width: 33%; 
}

.section-three {
	width: 33%; 
}

}

@media (min-width: 769px) {

	.container{
		max-width: 100%;
		display:flex;
		flex-flow: row wrap;
		justify-content: space-around;
		margin: 0 auto;
	}

	header {
		border-bottom: 0px;
		margin: 0 auto;
	}

	
		.nav-deets{
			display:flex;
			flex-flow: row wrap;
			justify-content: flex-end;
			justify-content: space-around;
			font-size: 1em;
		}


		.section-one{
			width: 33%; 
			text-align: left;

			border: 1px solid #77a466;
		}
		
		.menu{
			display: flex;
			justify-content:flex-start;
			flex-flow: column wrap;
			color:#77a466;
		}
		
		#today-menu{
			text-align: left;
				padding: 5px;
		}
		
		.section-two{
			width: 33%; 

			border: 1px solid #77a466;
		}
		
		.section-three {
			width: 33%; 

			border: 1px solid #77a466;
		}
		


}


/**

320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.


*/