body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size:1em;
	padding: 1em; 
}

div{
	border: 1px dotted black;
	border-radius: 25px;
}

.container{
	max-width: 100%;
	display:flex;
	justify-content: space-around;
	align-content: center;
	margin: 0 auto;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}

h1 {
	font-size: 1.875em;
}

h2 {
	font-size: 1.125em;
}

h3 {
	font-size: .750em;
}

p {
	font-size: 0.875em;
	line-height: 1.313em;
    padding: 0 30px;
}

/*The widths are in a percentage!*/

header {
	border-bottom: 3px solid #77a466;
	margin: 0 auto;
}

header h1 {
	margin: 0;
	padding: 38px 0;
}

header h1 span {
	color: #77a466;
}

ul {
	color:#77a466;
	list-style: none;
	line-height: 3em;
	text-decoration: none;
	text-align: center;
}

a {
	color:#77a466;
	text-decoration: none;
}

header nav {
	font-weight: 700;
	font-size: 0.875em;
	list-style: none;
}


/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	display:flex;
	align-content: center;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.main-image {
	height: auto;
}

.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title {
	height: auto;
}

.main-title h2 {
	color: #77a466;
}

.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 2em;
}

.menu {
	list-style: none;
	padding: 0;
}

.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
}

.address {
	font-size: 1em;
	line-height: 24px;
}

footer {
	height: 50px;
	border-top: 3px solid #eee;
	margin: 0 auto;
	text-align: center;
}

footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}

/**

320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.


*/